<a href="https://colab.research.google.com/github/shiwani456/PythonLearning/blob/main/PythonLearning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Print_Function_Use
print('Testing')

Testing

In [ ]:
print(7/5)

1.4

In [ ]:
!python --version

Python 3.10.6

In [ ]:
print(type("hello"))
print(type(5.8))
print(type(b'hi'))
print(type(u'hi'))

<class 'str'>
<class 'float'>
<class 'bytes'>
<class 'str'>

In [ ]:
#looping
for x in range(1,5):
  print(x),

1
2
3
4

In [ ]:
#try and catch
try:

     trying_to_check_error

except NameError as err:

     print (err, 'Error Caused')

name 'trying_to_check_error' is not defined Error Caused

In [9]:
#arithimatic operator
age1=12
age2=18
sum =  age1 + age2
diff = age2- age1
mul = age2 * age1
div= age2/age1
mod = age2 % age1
print(sum,diff,mul,div,mod)

#String
first_name = "stud"
last_name = "stu"

print (first_name+" "+last_name)
#print(first_name - last_name) --> give error
print(first_name*5)

sent = "Avi is playing basketball"
print(sent[0])
print(sent[0:3])
print(sent[0:len(sent)])

30 6 216 1.5 6
stud stu
studstudstudstudstud
A
Avi
Avi is playing basketball

In [7]:
#Placeholder in String
name = "jake"
sentence = "%s is 15 year old"

print(sentence % name)

sentence = "%s %s is president of india"
print(sentence % ("Droupadi", "Murmu"))

sentence = "%s is %d year old"
print(sentence % ("jake" ,25))

name = "Avi"
print (f"Hello,{name}")

x=10
y=10

print(f"The sum of x and y is {x+y}")

jake is 15 year old
Droupadi Murmu is president of india
jake is 25 year old
Hello,Avi
The sum of x and y is 20

In [26]:
#Introduction to List

shopping_list = ['apple' , 'Banana' ,'oranges', 'cheese']
print(shopping_list)
print(shopping_list[0])
print(shopping_list[2])
print(shopping_list[0:3])


#list is mutable

shopping_list.append('Blueberries') #Adding elements
print(shopping_list)
#replacing elements
shopping_list[0] = 'cherries'
print(shopping_list)

#delete item in List
del shopping_list[2]
print(shopping_list)
#length of List
print(len(shopping_list))

#combine 2 list
shopping_list2 =['bread' , 'jam', 'peanut butter']
print(shopping_list + shopping_list2)
#multiply list
print(shopping_list * 2)
#max and min in list

list_num = [1,4,7,23,6]
print(max(list_num))
print(min(list_num))

#sorting list

list_num.sort()
print(list_num)

list_num.sort(reverse = True)
print(list_num)

['apple', 'Banana', 'oranges', 'cheese']
apple
oranges
['apple', 'Banana', 'oranges']
['apple', 'Banana', 'oranges', 'cheese', 'Blueberries']
['cherries', 'Banana', 'oranges', 'cheese', 'Blueberries']
['cherries', 'Banana', 'cheese', 'Blueberries']
4
['cherries', 'Banana', 'cheese', 'Blueberries', 'bread', 'jam', 'peanut butter']
['cherries', 'Banana', 'cheese', 'Blueberries', 'cherries', 'Banana', 'cheese', 'Blueberries']
23
1
[1, 4, 6, 7, 23]
[23, 7, 6, 4, 1]

In [31]:
# Intro to Dictionary

students = {'bob':12,
             'rachel' : 13,
             'emily' :15
            }
print(students)
print(students['rachel'])
students['rachel'] = 14
print(students)
del students['emily']
print(students)
print(len(students))
#if all key are same it will go to last one
students = {'bob':12,
             'bob' : 13,
             'bob' :15
            }
print(students['bob'])

{'bob': 12, 'rachel': 13, 'emily': 15}
13
{'bob': 12, 'rachel': 14, 'emily': 15}
{'bob': 12, 'rachel': 14}
2
15